.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.header h1 {
    font-size: 24px;
    margin: 10px 0 10px 20px;
    color: rgba(0, 0, 0, 0.8);
}

.header #AlertText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.header #AlertText .topNotifier {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.header #AlertText .topNotifier.visible_TopNotifier {
    opacity: 1;
}

.header #AlertText .topNotifier.hidden_TopNotifier {
    opacity: 0;
}

.mute-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px 0 0;
    padding: 10px;
    color: rgba(0, 0, 0, 0.788);
    transition: color 0.3s ease, transform 0.3s ease;
}

.mute-button.sound_off {
    color: rgba(0, 0, 0, 0.603);
}

.mute-button:hover {
    color: rgba(0, 0, 0, 0.8);
    transform: scale(1.2);
}

.footer {
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    font-size: 12px; 
    color: #666;
}

.followObjectDown {
    position: fixed;
    bottom: 0px;
    left: 16px;
    z-index: 1000;

    transition: all 0.5s ease-in-out;

    transform: 
        translateX(-43%)
        translateY(+30%);

    &.shifted {
        left: -10% !important; 
        transform: translateX(-20%) !important; 
        opacity: 0.1; 
        pointer-events: none; 
        
        transition: all 0.8s ease;
    }

    img {
        user-select: none;  
        pointer-events: none; 
        -webkit-user-drag: none; 

        --img_min: 40vw;
        --img_preferred: 25vh;
        --img_max: 40vw;

        height: clamp(var(--img_min), var(--img_preferred), var(--img_max)) !important;
        min-height: var(--img_min);
        max-height: var(--img_max);
        max-width: 95vw;
        object-fit: contain;
        width: auto;

        transform: 
            rotateY(180deg) 
            rotateZ(40deg);
    }
}
