.followObjectDown {
  position: fixed;
  bottom: 0px;
  left: 16px;
  z-index: 1000;

  transition: all 0.5s ease-in-out;


  transform: 
    translateX(-43%)
    translateY(+30%)
  ;

  &.shifted {
    left: -10% !important; 
    transform: translateX(-20%) !important; 
    opacity: 0.1; 
    pointer-events: none; 
    
    transition: all 0.8s ease;
  }

  
  img{
    user-select: none;  
    pointer-events: none; 
    -webkit-user-drag: none; 

    --img_min: 40vw;
    --img_preferred: 25vh;
    --img_max: 40vw;

    height: clamp(var(--img_min), var(--img_preferred), var(--img_max)) !important;
    min-height: var(--img_min);
    max-height: var(--img_max);
    max-width: 95vw;
    object-fit: contain;
    width: auto;

    transform: 
      rotateY(180deg) 
      rotateZ(40deg);
  }
  
}