.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.header h1 {
    font-size: 24px;
    margin: 10px 0 10px 20px;
    color: rgba(0, 0, 0, 0.8);
}

.header #AlertText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.header #AlertText .topNotifier {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.header #AlertText .topNotifier.visible_TopNotifier {
    opacity: 1;
}

.header #AlertText .topNotifier.hidden_TopNotifier {
    opacity: 0;
}

.mute-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px 0 0;
    padding: 10px;
    color: rgba(0, 0, 0, 0.788);
    transition: color 0.3s ease, transform 0.3s ease;
}

.mute-button.sound_off {
    color: rgba(0, 0, 0, 0.603);
}

.mute-button:hover {
    color: rgba(0, 0, 0, 0.8);
    transform: scale(1.2);
}